body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*bagian menu*/
.header{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

/*bafian menu*/
.menu{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.menu a:hover{
    text-decoration: underline;
}

/*bagian konten*/
.content{
    background-color: #f2f2f2;
    padding: 20px;
}

/*bagian footer*/
.footer{
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}